/* BASE VARIABLES
 *******************/

/* Sizes */
$max-width: 1800px;
$footerheight: 50px;

/* Colors */
$text: #555;
$links: blue;
$hover: red;

$bg: #FFF;

/* Buttons */
$borderwidth: 2px;
$borderweight: solid;
$btn: blue; // color
$btn-type: inherit; // font size
$btn-pad: 5px 15px; // padding

$btn-hover: #ccc;

/* Fonts */
$main: sans-serif;

/* Borders */
$border: 1px solid #000;

/* Susy Defaults */
$susy: (
  container: 64em,
  columns: 12,
  gutters: 1/6
);

/* Breakpoints */
$bp-small: 20em;
$bp-medium: 32em;
$bp-large: 60em;
$breakpoint-no-query-fallbacks: true;