.btn {
	text-transform: uppercase;
	font-size: $btn-type;
	padding: $btn-pad;
	border: $borderwidth $borderweight $btn;
	text-decoration: none;
	background: transparent;
	color: $btn;
}

.btn:hover {
  color:$btn-hover;
  text-decoration: none;
  border: $borderwidth $borderweight $btn-hover;
}