/* Password Protected Posts */
.post-password-required {
	.entry-header .comments-link {
		margin: 1.5em 0 0;
	}
	input[type=password] {
		margin: 0.8125em 0;
	}	
}


/* =error404
----------------------------------------------- */
.not-found {
	text-align: center;
}




/* Hide and Show
----------------------------------------------- */

.hidden {
	&-s {
		@include breakpoint(bp-huge) {
			display: block;
		}
		@include breakpoint(bp-wide) {
			display: block;
		}
		@include breakpoint(bp-medium) {
			display: block;
		}
		@include breakpoint(bp-small) {
			display: none;
		}
	}
	&-m {
		@include breakpoint(bp-huge) {
			display: block;
		}
		@include breakpoint(bp-wide) {
			display: block;
		}
		@include breakpoint(bp-medium) {
			display: none;
		}
		@include breakpoint(bp-small) {
			display: block;
		}	
	}
	&-w {
		@include breakpoint(bp-huge) {
			display: block;
		}
		@include breakpoint(bp-wide) {
			display: none;
		}
		@include breakpoint(bp-medium) {
			display: block;
		}
		@include breakpoint(bp-small) {
			display: block;
		}		
	}
	&-h {
		@include breakpoint(bp-huge) {
			display: none;
		}
		@include breakpoint(bp-wide) {
			display: block;
		}
		@include breakpoint(bp-medium) {
			display: block;
		}
		@include breakpoint(bp-small) {
			display: block;
		}		
	}
}

.visible {
	&-s {
		@include breakpoint(bp-huge) {
			display: none;
		}
		@include breakpoint(bp-wide) {
			display: none;
		}
		@include breakpoint(bp-medium) {
			display: none;
		}
		@include breakpoint(bp-small) {
			display: block;
		}		
	}
	&-m {
		@include breakpoint(bp-huge) {
			display: none;
		}
		@include breakpoint(bp-wide) {
			display: none;
		}
		@include breakpoint(bp-medium) {
			display: block;
		}
		@include breakpoint(bp-small) {
			display: none;
		}		
	}
	&-w {
		@include breakpoint(bp-huge) {
			display: none;
		}
		@include breakpoint(bp-wide) {
			display: block;
		}
		@include breakpoint(bp-medium) {
			display: none;
		}
		@include breakpoint(bp-small) {
			display: none;
		}		
	}
	&-h {
		@include breakpoint(bp-huge) {
			display: block;
		}
		@include breakpoint(bp-wide) {
			display: none;
		}
		@include breakpoint(bp-medium) {
			display: none;
		}
		@include breakpoint(bp-small) {
			display: none;
		}		
	}
}