html,
body {
	background: $bg;
	margin: 0;
	padding: 0;
}

header,
section,
div,
aside,
footer {
	box-sizing: border-box;
}

	.img-responsive {
		width: 100% \9;
	}

header,
footer,
main {
	@include cf();
	position: relative;
	
}

#main {
	overflow: hidden;
	#primary {
		@include padding(50px);
		@include span(8);
		
		@include breakpoint(bp-wide) {
			@include span(7);
		}

		@include breakpoint(bp-medium) {
			@include span(full);
		}
		&-full {
			@include padding(50px);
		}
	}
	#secondary {
		@include span(last 4);
		
		@include breakpoint(bp-wide) {
			@include span(last 5);
		}

		@include breakpoint(bp-medium) {
			@include span(full);
		}
	}
}

.container,
.container-full {
	padding-left:15px;
	padding-right:15px;
}

.container-fixed {
	@include container(1170px);
}

.container-full {
	@include container(full);
	
}

article {
	margin-top:40px;
	&:first-child {
		margin-top:0;
	}
}

/* Sticky footer */
@include sticky-footer( $footerheight, '#page','#main','#footer');

@include breakpoint(bp-medium) {
	@include sticky-footer( $fh-mobile, '#page','#main','#footer');
}