body {
	background: $bg;
	margin: 0;
	padding: 0;
}
#page {
	width: 100%;
	padding: 0 15px;
}
#main,
#footer,
.row {
	@include cf();
}

/* Sticky footer */
@include sticky-footer( $footerheight, '#page','#main','#footer');
